.chalkboard {
    height: 750px;
    box-shadow: 0 0 150px #000000cb inset;
    border-style: ridge;
    border-width: 10px;
    border-radius: 5px;
    border-color:#926d53;
}

.chalkboard .text {
    position: absolute;
    pointer-events: none;
    padding: 10px;
}
.chalkboard .text .arrow {
    display: inline-block;
    width: 75px;
    height: 50px;
    background-image: url(../Resources/Chalkboard-text-arrow.png);
    background-size: 55px;
    background-repeat: no-repeat;
    transform: rotate(-10deg);
    pointer-events: none;
}

.chalkboard .text .url{
    display: inline-block;
    width: 300px;
    height: 50px;
    background-image: url(../Resources/Chalkboard-text-url.png);
    background-size: 300px;
    background-repeat: no-repeat;
    pointer-events: none;
}