html, body {
  margin: 0;
  font-family: 'Segoe UI';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body {
  background-color: #f5f5db;
}

.canvasWrapper {
  position: fixed;
  left: 0;
  width: 75%;
  height: 90vh;
  background-color: #354d42;
  box-shadow: 0 0 300px #000000aa inset;
  border-style: ridge;
  border-width: 10px;
  border-radius: 5px;
  border-color:#926d53
}
